$featureheightmobile: 100;
$featureheight: 70;

$headerheight_l: 15;
$headerheight_s: 8;

$boxwidth: 20vw;


@mixin showAddToCart() {
    &:hover .add-to-cart-container,
    &:active .add-to-cart-container {
        transform: scaleY(1);
    }
}

@mixin hideDesc() {
    &:hover .description,
    &:active .description {
        transform: scaleY(0);
        height: 0px;
    }
}

@mixin zoomCatLogo() {
    &:hover,
    &:active {
        .category-logo {
            transform: scale(1.1);
            transition: .2s ease;
            box-shadow: 2px 5px 8px #9998a2;
            border-radius: 30px;
        }
        span {
            color: #020202;
        }
        cursor: pointer;
        text-shadow: 1px 1px #9998a2;
    }
    &:not(:active) .category-logo {
        transform: scale(1);
        transition: .4s;
    }
}

header {
    width: 100%;

    background: #fff;
    box-shadow: 2px 5px 8px #9998a2;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    display: flex;
    z-index: 1000;
    nav {
        width: 100%;
        text-align: right;
        align-self: center;
    }
    ul {
        display: inline-flex;
        list-style: none;
        li {
            padding-right: 50px;
        }
    }
    .logo img {
        height: 100%;
    }
}

.header-height-l {
    @include xheight($headerheight_l);
}

.header-height-s {
    @include xheight($headerheight_s);
}

.container {}

.menu-container {
    margin-left: 5%;
    margin-right: 5%;
    position: relative;
}

.featured-carousel {
    @include xheight($featureheightmobile);
    background: linear-gradient(135deg, #363404, #070d29);


}

.menu {
    display: flex;

}


.full-menu {
    .menu-item {
        flex-basis: 23%;
    }
}

.menu-items {
    margin-top: 5%;
    display: flex;
    flex-direction: row;
    flex-flow: wrap;

}

.menu-item {
    @include select();
    @include hideDesc();
    @include showAddToCart();
    padding: 5px; //margin: 0 auto;
    margin-bottom: 5px; //   margin-left: 2%;
    margin-top: 5px;
    flex-basis: 29.5%;
    display: flex; //min-width: 300px;
    width: $boxwidth;
    flex-direction: column;
    div {
        overflow: hidden;

        width: 100%;
        img {
            @include zoom();
            width: 100%;
            height: auto;
            max-height: 250px;
        }
        span {
            text-align: center;
            width: 45%;
            display: inline-block;
        }
        .description {
            width: 100%;
            padding: 5px;
            text-align: center;
            transform-origin: top;
            transition: transform 0.3s ease;
        }
        input {
            width: 20px;
        }
        input[type='radio'] {
            -webkit-appearance: none;
            -moz-appearance: none;
            -ms-appearance: none;
            border: 1px solid;
            width: 20px;
            height: 20px;
            transform: translate(-15px, 5px);
        }
        input[type='radio']:checked {
            border: 3px solid #1c3fd1;
        }
        .label {
            transform: translateX(10px);
        }
        a {
            text-decoration: none;
        }
        .label {}
    }
    h3 {
        text-align: center;
    }
}

.menu-item-container {
    padding-left: 10px;
}


.item-description {
    position: relative;

    min-height: 115px;
}

.add-to-cart-container {

    display: flex;
    position: absolute;
    padding: 2px;
    transform: scaleY(0);
    top: 0;
    transform-origin: bottom;
    transition: transform 0.3s ease;
    flex-direction: column;
    justify-content: space-around;
    background-color: #fafafa;
    button {
        width: 100%;
        height: 28px;

        background-color: #388e3c;
        color: #fff;
    }
    div {
        padding: 1%;
    }

}

.category {
    // margin: 0 5% 0% 5%;
    margin-bottom: 0;
    h2 {
        margin-left: 2%;
    }
}

.category-placeholder {
    @include xheight($headerheight_s+1);
}

section:target::before {

    padding-top: 100px;

}

.categories {
    top: 8vh;
    position: -webkit-sticky;
    position: sticky; //min-width: 200px;
    box-shadow: 1px 3px 5px #9998a2;
    @include xheight(85);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    .mobile-category-icon {
        display: none;
    }
    ul {
        margin: 0 auto;
        list-style: none;
        height: 100%;
        display: flex;
        padding-top: 20%;
        padding-bottom: 20%;
        flex-direction: column;
        justify-content: space-around;
    }
    div {
        margin: 0 auto;
        width: 100%;
        height: 100%;
        min-width: $boxwidth;
    }
    li {
        display: flex;
        align-items: center;
        min-height: 75px;
        padding-left: 20px;
        position: relative;
        @include zoomCatLogo();
        a {
            width: 100%;
        }
    }
    span {
        position: absolute;
        height: 20px;
        top: 50%;
        margin-top: -10px;
        padding-left: 10px;
        color: #777777;
    }
    img {}
}

.search-bar {
    margin: 5% 2% 0% 2%;
    position: relative;

    .search-bar-input {
        position: relative;
        width: 90%;
    }
    input {
        width: 95%;
        border-radius: 30px;
        border-style: groove;
        height: 35px;
        padding: 20px;
        z-index: 900;
        position: absolute;
    }
    input:focus {
        outline: none;
        background-color: #fff;
    }

    .search-results {
        position: absolute;
        border-style: groove;
        border-width: 2px;
        overflow-y: auto;
        max-height: 200px;
        margin-left: 10px;
        margin-right: 10px;
        margin-top: 2px;
        top: 35px;
        width: 80%;
        z-index: 800;
        background-color: #fff;
    }
    .search-results > * {
        padding: 5px;
        a {
            text-decoration: none;
            color: #504d4d;
        }

    }
    .search-result:hover {
        background-color: rgba(247, 169, 25, 0.5);
    }
    img {
        z-index: 900;
        position: absolute;
        right: 0;
        top: 0;
        &:hover {
            transform: scale(1.1);
        }
        &:active {
            transform: scale(1.2);
        }
    }
    .close-icon {
        margin-right: -30px;
    }

}

.featured-carousel {
    @include xheight($featureheight);
    @include xminHeight($featureheight);
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    .slider {
        display: flex;
        position: absolute;
        width: 85%;
        max-height: 90%;
        overflow: hidden;
        align-items: center;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    .left {
        position: absolute;
        left: 0;
        margin-left: 20px;
    }
    .right {
        position: absolute;
        right: 0;
        margin-right: 20px;
    }
}

.featured-item {
    height: 90%;
    min-width: 100%;
    justify-content: center;

    display: flex;
    display: flex;
    justify-content: center;
    position: relative;
    img {

        max-width: 80%;
        position: relative;
    }
}

.discount-text {
    position: absolute;
    background-color: #fff;
    padding: 5px;
    top: 5%;
    width: 30%;
    text-align: center;
    left: 50%;
    transform: translateX(-50%);
}

.featured-item-desc {
    position: absolute;
    color: #fff;
    bottom: 10%;
    font-size: 28px;
    font-weight: 800;
    width: 30%;
    letter-spacing: 3px;
    text-align: center;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -80%);

}

/* 
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) {}


@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {}

@media (max-width: 1000px) {

    .menu {
        display: block;
    }

    .menu-item-container {
        margin: 0 auto;
        padding: 0;
    }

    .categories {
        box-shadow: none;
        max-width: 200px;
        max-height: 500px;
        z-index: 100;
        div {
            margin: 0;
            height: auto;
            width: auto;
        }
        .mobile-category-icon {
            display: block;
        }
        .mobile-category-icon:hover,
        .mobile-category-icon:active {
            & ~ .categories-container {
                display: block;
                transform: scale(1, 1);
                transform: translate(40px, -40px);
                transition-duration: .5s;
            }
        }
        .categories-container:hover,
        .categories-container:active {
            & {
                display: block;
                transform: scale(1, 1);
                transform: translate(40px, -40px);
                transition-duration: .5s;
            }
        }

        .categories-container {
            transform: scale(0, 0);
            transform-origin: top;

            ul {
                height: auto;
                justify-content: flex-start;
                padding: 0; //width: 100px;
            }
            li {
                border: 1px solid #989090;
                background-color: #fff;
            }

        }
    }

    .menu-item-container {
        transform: translateY(-450px);
    }

    .menu-item {
        flex-basis: 100%;
        margin-bottom: 10px;
    }

    .full-menu {
        transform: translateY(-450px);

        .menu-item {
            flex-basis: 100%;
        }
    }

    .add-to-cart-container button {
        height: 50px;
    }
    .item-description {
        button {
            height: 50px;
        }
        min-height: 165px;
    }
    .search-bar input {
        height: 75px;
    }

}
